body {
    color: white;
    background-color: black;
    font-family: arial Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width:  200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(0, 128, 55);
}

.center {
    text-align: center;
}